@font-face {
    font-family: "nlt";
    src: url("../nlt.ttf");
}

@font-face {
    font-family: "zyy_xmx";
    src: url("../zyy_xmx.ttf");
}

/*body {*/
/*    max-height: calc(100vh - 20px);*/
/*}*/
.chatroom {
    width: 70%;
    height: 100%;
}

.chat_box {
    overflow: auto;
}

#myxsg {
    max-width: 70%;
    background-color: #f5f5f5;
    display: block;
    float: left;
    border-radius: 20px;
}

#myxka {
    max-width: 70%;
    background-color: #f5f5f5;
    display: block;
    float: left;
    border-radius: 20px;
}

#myself {
    max-width: 70%;
    background-color: antiquewhite;
    display: block;
    float: right;
    border-radius: 20px;
}

#others {
    max-width: 70%;
    background-color: #caaeff;
    display: block;
    float: left;
    border-radius: 20px
}
